<footer class="footer">
  <header>
    <figure>
      <a href="/"><img src="https://images2.weku.io/DQmeL6hz3MpofMPMKaYYTWnP5xvSudQ4kVRuwQc47aHqBuf/wekunow.png" width="40" height="40" title="wekunow.com" alt="wekunow.com"></a>
    </figure>
    <p class="size-20px">wekunow.com | weku.dev</p>
  </header>
</footer>
  </body>
</html>
