<!DOCTYPE html>
<html lang="en">
<head>
	<title>Wekunow.com | Weku Block Explorer.</title>
	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://localhost:3000/css/style.css">
	<link rel="icon" href="https://images2.weku.io/DQmeL6hz3MpofMPMKaYYTWnP5xvSudQ4kVRuwQc47aHqBuf/wekunow.png" type="image/gif" sizes="16x16">
</head>
<body>
	<div class="header">
		<header id="header">
			<div class="logo">
				<figure>
					<a href="/"><img src="https://images2.weku.io/DQmeL6hz3MpofMPMKaYYTWnP5xvSudQ4kVRuwQc47aHqBuf/wekunow.png" width="40" height="40" title="wekunow.com" alt="wekunow.com"></a>
				</figure>
			</div>
			<div class="title" title="wekunow.com" alt="wekunow.com">
				<h1>Wekunow</h1>
			</div>
			<div class="menu">
				<nav>
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/witnesses">Witnesses</a></li>
						<li><a href="/@?u=hadrien.rivere">User explorer</a></li>
						<li><a href="">Post explorer</a></li>
					</ul>
				</nav>
			</div>
		</header>
	</div>
