<% include partials/head.ejs %>
	<div class="wekunow">
		<img src="https://images2.weku.io/DQmeL6hz3MpofMPMKaYYTWnP5xvSudQ4kVRuwQc47aHqBuf/wekunow.png" width="250" height="250" title="wekunow.com" alt="wekunow.com">
		<h2>Wekunow.com | Weku Block Explorer</h2>
		<h4>Search for a block, transaction or username on the Weku blockchain</h4>
	</div>
<% include partials/footer.ejs %>
